.snackbar {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 999;
    @include flex(center);
    width: max-content;
    min-width: 30rem;
    height: 5rem;
    border-radius: 5px;
    padding: 0 1.5rem;
    visibility: hidden;

    svg {
        align-items: flex-start;
        fill: #fff;
        & > * {
            fill: #fff;
        }
    }

    p {
        display: inline-block;
        flex-grow: 1;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        margin-left: 1.5rem;
    }

    &.show {
        visibility: visible;
        animation: toLeft 0.5s ease, toRight 0.5s 3.5s ease forwards;
    }
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(200%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes toRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(200%);
        display: none;
    }
}
