.upload {
    @include flex(center);
    flex-direction: column;
    &__preview {
        @include box(10rem);
        border-radius: 100rem;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    label {
        margin-top: 2rem;
        input[type="file"]::-webkit-file-upload-button {
            visibility: hidden;
        }
        input[type="file"]::before {
            content: "Choose your avatar";
            display: inline-block;
            background-color: #397ef6;
            color: #fff;
            border-radius: 5px;
            width: 100%;
            padding: 1.5rem 3rem;
            text-align: center;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-weight: 700;
        }
    }
}
