.profile {
    background-color: #fff;
    border-radius: 5px;
    width: 40rem;
    padding: 1rem 0;

    &__top {
        border-bottom: 1px solid $color-gray;
        padding: 0 1rem;
        padding-bottom: 1rem;
        @include flex(center, space-between);

        &__title {
            font-size: 16px;
            font-weight: 600;
        }

        svg {
            cursor: pointer;
        }
    }
}
