.main {
    @include flex();
    flex-direction: column;
    &__top {
        @include flex(center);
        padding: 1rem;
        &__title {
            flex-grow: 1;
            margin-left: 1rem;

            h3 {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
    &__content {
        background-color: $color-gray;
        flex-grow: 1;
        width: 100%;
    }

    &__bottom {
        width: 100%;

        &__action {
            @include flex(center);
            padding: 5px 0;
            padding-left: 1rem;
            &__item ~ &__item {
                margin-left: 1rem;
            }

            &__item {
                line-height: normal;
            }
        }

        .chat-box {
            position: relative;
            input {
                width: 100%;
                padding: 2rem 0;
                padding-left: 2rem;
                padding-right: 5rem;
                outline: none;
                border: none;
                border-top: 1px solid $color-gray;

                &:focus {
                    border-color: $color-primary-dark;
                }
            }
            button {
                outline: none;
                border: none;
                background-color: #fff;
            }
            &__action {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2rem;
            }
        }
    }
    &__action__item {
        line-height: normal;
        cursor: pointer;
        @include box(4rem);
        @include flex(center, center);
        border-radius: 5px;
        transition: 0.3s ease;
        &:hover {
            background-color: $color-gray;
        }
    }
}
