$color-primary-dark: #4c90b5;
$color-primary-main: #5aa4cc;
$color-primary-light: #aadaf3;
$color-blue-light: #e9f8ff;
$color-white: #ffffff;
$color-gray: #e8eaef;

$color-primary-200: #e4f2fa;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);

$mobile-width: 600px;
$tablet-width: 1024px;
